# configuração para gerar arquivo CAPES

fileaval=/home/mertins/temp/Capes_teste_prepar.csv
fileresult=/home/mertins/temp/capes_resultmlp.csv
fileorigaval=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/capes/capes_test.csv

# numero da coluna iniciando em 0
columnlabel=26
firstlineattribute=false
#remove colunas desnecessárias. Numeros separados por virgula iniciando em 0
removecolumns=1,3,4,8
# normalizar dados em 0 e 1    
normalize=false
filemlp=/home/mertins/temp/MLP_8070000
