# configuração para gerar arquivo CAPES

filetrainer=/home/mertins/temp/CapesExemplos.csv
fileaval=/home/mertins/temp/Capes_teste_prepar.csv
fileresult=/home/mertins/temp/capes_resultknn7.csv
fileorigaval=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/capes/capes_test.csv

# numero da coluna iniciando em 0
columnlabel=26
firstlineattribute=false
#remove colunas desnecessárias. Numeros separados por virgula iniciando em 0
removecolumns=1,8
# normalizar dados em 0 e 1    
normalize=false
valueK=7
