# configuração para gerar arquivo CAPES

filetrainer=/home/mertins/temp/CapsTemp.cvs
fileaval=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/caps/
fileresult=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/caps/capes_resultknn7.csv

# numero da coluna iniciando em 0
columnlabel=26
firstlineattribute=false
#remove colunas desnecessárias. Numeros separados por virgula iniciando em 0
removecolumns=1,8
# normalizar dados em 0 e 1    
normalize=false
valueK=7
