# configuração para preparar arquivo CAPES

# arquivo original que precisa ser adaptado para os algoritmos
#filetrainer=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/capes/CAPESML/capes_raw.csv
# arquivo com uma coluna a mais no inicio e sem label, onde deve-se colocar o label
filetrainer=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/capes/capes_test.csv

# numero da coluna iniciando em 0
columnlabel=26

firstlineattribute=true
#remove colunas desnecessárias. Numeros separados por virgula iniciando em 0
# arquivo de treino tem uma coluna a menos
removecolumns=1,8

# normalizar dados em 0 e 1    
normalize=false


#Arquivo de resultado tem 1 coluna a mais no inicio. 
fileresultcolunaextra=true