# configuração para treinamento de rede no linux

# detalhes dos arquivos
filetrainer=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_train.csv
filetest=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_test.csv

#filetrainer=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/mnist/mnist_train.csv
#filetest=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/mnist/mnist_test.csv

columnlabel=0
firstlineattribute=false

# configuração da MLP
hiddenlayer=(5,LOGISTIC)
outputlayer=10,LOGISTIC

# configurações do treinamento da MLP
blockifbaderr=false     # encerrar backtraining se erro piorar a época
normalize=true         # normalizar dados em 0 e 1 ?
ratetraining=0.01
moment=0.6
epoch=5

# configurações da avaliação da MLP
folderMLPs=/home/mertins/IARedeNeural/20170210_155447
