# configuração para treinamento de MLP

# detalhes dos arquivos
#filetrainer=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_train.csv
#filetest=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_test.csv

filetrainer=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/mnist/mnist_train.csv
filetest=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/mnist/mnist_test.csv

columnlabel=0
firstlineattribute=false

# configuração da MLP
# HARD_0, HARD_1, LOGISTIC, TANGEN
hiddenlayer=(512,LOGISTIC)
outputlayer=10,LOGISTIC

# configurações do treinamento da MLP
# encerrar backtraining se erro piorar a época
blockifbaderr=false     
# normalizar dados em 0 e 1 
normalize=true         
ratetraining=0.01
moment=0.9
epoch=25

# configurações da avaliação da MLP
#folderMLPs=/home/mertins/IARedeNeural/20170210_155447
folderMLPs=/Users/mertins/IARedeNeural/20161030_233705
