# configuração para treinamento de MLP

# detalhes dos arquivos

filetrainer=/Users/mertins/temp/CapsTemp.cvs
filetest=/Users/mertins/temp/CapsTemp.cvs

# numero da coluna iniciando em 0
columnlabel=26
firstlineattribute=false
#remove colunas desnecessárias. Numeros separados por virgula iniciando em 0
removecolumns=1,3,4,8

# configuração da MLP
# HARD_0, HARD_1, LOGISTIC, TANGEN
hiddenlayer=(10,LOGISTIC) 
outputlayer=5,LOGISTIC

# configurações do treinamento da MLP
# encerrar backtraining se erro piorar a época
blockifbaderr=false     
# normalizar dados em 0 e 1    
normalize=false
ratetraining=0.00001
moment=0.6
epoch=10000000
#salva MLP a cada frequencia de epoca
savefrequence=10000


# configurações da avaliação da MLP
folderMLPs=/Users/mertins/IARedeNeural/ok
