# configuração para treinamento de Perceptron

# detalhes dos arquivos
filetrainer=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_train.csv
filetest=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_test.csv

#filetrainer=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/mnist/mnist_train.csv
#filetest=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/mnist/mnist_test.csv

columnlabel=0
firstlineattribute=false


# HARD_0, HARD_1, LOGISTIC, TANGEN
algorithm=HARD_0              

# DELTA, ESTOCASTICO  
trainerType=ESTOCASTICO       

# separar textos por espaço
labels = 0 1                    

# configurações do treinamento 
# encerrar backtraining se erro piorar a época
blockifbaderr=false             
# normalizar dados em 0 e 1 ?
normalize=true                  
ratetraining=0.01
moment=0.6
epoch=5
attempt=2

# configurações da avaliação dos Perceptrons
folderPerceptrons=/home/mertins/IARedeNeural/20170210_155447
