# configuração para treinamento de MLP

# detalhes dos arquivos

filetrainer=/home/mertins/temp/CapsTemp.csv
filetest=/home/mertins/temp/CapsTemp.csv

# numero da coluna iniciando em 0
columnlabel=26
firstlineattribute=false
#remove colunas desnecessárias. Numeros separados por virgula iniciando em 0
removecolumns=1,8
# normalizar dados em 0 e 1    
normalize=false
valueK=7
