# configuração para treinamento de rede no linux

# detalhes dos arquivos
filetrainer=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_train.csv
filetest=/home/mertins/Documentos/UFPel/Dr/AM/Trabalhos/mnist/mnist_test.csv
columnlabel=0
firstlineattribute=false

# configuração da MLP
hiddenlayer=(80,LOGISTIC)(12,LOGISTIC)
outputlayer=10,LOGISTIC

# encerrar backtraining se erro piorar a época
blockifbaderr=false

# normalizar dados em 0 e 1 ?
normalize=true

# configurações da MLP
ratetraining=0.01
moment=0.6
epoch=1000

