# configuração para treinamento de MLP

# detalhes dos arquivos

filetrainer=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/capes/CAPESML/capes_raw.csv
filetest=/Users/mertins/Documents/UFPel/Dr/AprendizadoMaquina/capes/CAPESML/capes_raw.csv


# numero da coluna iniciando em 0
columnlabel=26
firstlineattribute=true
#remove colunas desnecessárias. Numeros separados por virgula iniciando em 0
removecolumns=1,8

# configuração da MLP
# HARD_0, HARD_1, LOGISTIC, TANGEN
hiddenlayer=(200,LOGISTIC)  (30,LOGISTIC)    
outputlayer=5,LOGISTIC

# configurações do treinamento da MLP
# encerrar backtraining se erro piorar a época
blockifbaderr=false  
# normalizar dados em 0 e 1    
normalize=false
ratetraining=0.01
moment=0.6
epoch=5
#salva MLP a cada frequencia de epoca
savefrequence=2

# configurações da avaliação da MLP
folderMLPs=/Users/mertins/IARedeNeural/20170313_140539
